<div data-ng-controller="Shell as vm">
  <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
    <div class="page-splash">
      <div class="page-splash-message">
        <img alt="/" class="logo-img"  src="../../content/images/logo-GD.png">
      </div>
    </div>
  </div>
  <div class="hp-content">
    <div class="teaser-formation">
      <div class="texte-teaser">
        <h1>Découvrez nos nombreuses formations et évaluez vous !</h1>
        <p>Sed cautela nimia in peiores haeserat plagas, ut narrabimus postea, aemulis consarcinantibus insidias graves apud Constantium, cetera medium principem sed siquid auribus eius huius modi quivis infudisset ignotus, acerbum et inplacabilem et in hoc causarum titulo dissimilem sui.</p>
        <a class="btn btn-primary btn-custom" href="#/formation" role="button">Je découvre</a>
 
      </div>
      <div class="img-teaser">
        <img src="../../content/images/human.png">
      </div>
    </div>

    <div class="teaser-evaluation">
      <div class="texte-teaser">
        <h1>Vous avez déjà des notions ? Testez-vous directement ! </h1>
        <p>Sed cautela nimia in peiores haeserat plagas, ut narrabimus postea, aemulis consarcinantibus insidias graves apud Constantium, cetera medium principem sed siquid auribus eius huius modi quivis infudisset ignotus, acerbum et inplacabilem et in hoc causarum titulo dissimilem sui.</p>
        <a class="btn btn-primary btn-custom" href="#/evaluation" role="button">Je m'évalue</a>
      </div>
      <div class="img-teaser">
        <img src="../../content/images/eval.png">
      </div>
    </div>
  </div>

  <header class="clearfix">
    <div data-ng-include="'app/layout/topnav.html'"></div>
  </header>
  <section id="content" class="content">
    <div data-ng-include="'app/layout/sidebar.html'"></div>
    <div data-ng-view class="shuffle-animation"></div>

    <div ngplus-overlay
         ngplus-overlay-delay-in="50"
         ngplus-overlay-delay-out="700"
         ngplus-overlay-animation="dissolve-animation">
      <img src="../../content/images/busy.gif"/>

      <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div>
  </section>
</div>


