﻿<div class="widget-head">
    <div class="page-title pull-left">{{title}}</div>
    <small class="page-title-subtle" data-ng-show="subtitle">subtitle</small>
    <div class="widget-icons pull-right" data-ng-if="allowCollapse">
        <a data-cc-widget-minimize></a>
    </div>

    <small class="pull-right page-title-subtle" data-ng-show="rightText">rightText</small>
    <div class="clearfix"></div>
</div>