<section class="mainbar" id="Fond">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wblue">
          <div data-cc-widget-header title="{{vm.title}}"></div>
 

          <div class="row">
            <div class="formation-tab  m-tab">
              <h1>FORMATION</h1>
              <ul>
                <li><a><img class="img-langage" alt="/" src="../../content/images/html.png" ng-click="vm.LoadCours('HTML1')"></a></li>

                <li><a><img class="img-langage" alt="/" src="../../content/images/css.png" ng-click="vm.LoadCours('CSS1')"></a></li>

                <li><a><img class="img-langage" alt="/" src="../../content/images/js.png" ng-click="vm.LoadCours('JS1')"></a></li>

                <li><a><img class="img-langage" alt="/" src="../../content/images/c.png" ng-click="vm.LoadCours('Cpp1')"></a></li>

                <li><a><img class="img-langage" alt="/" src="../../content/images/vbnet.png" ng-click="vm.LoadCours('VBnet1')"></a></li>

                <li><a><img class="img-langage" alt="/" src="../../content/images/c-sharp.png" ng-click="vm.LoadCours('Csharp1')"></a></li>
              </ul>
 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>




