﻿<section class="mainbar" id="Fond">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">


                        <!-- Insert quizz -->
                        <div ng-include="'src/client/app/quizz.html'"></div>

                        <div class="row">
                            <div class="formation-tab m-css">
                                <h2>Testez vos connaissances grâce aux quizz</h2>
                                <ul>
                                    <li class="eval-li">
                                        <a id="html" data-toggle="modal" data-target="#ChooseQuizz" ng-click="vm.LoadBtn($event)">
                                            <img class="img-langage img-drop" alt="/" src="../../content/images/html.png" ng-click="vm.LoadCours('HTML')">
                                        </a>
                                    </li>
                                    <li class="eval-li">
                                        <a id="css" data-toggle="modal" data-target="#ChooseQuizz" ng-click="vm.LoadBtn($event)">
                                            <img class="img-langage img-drop" alt="/" src="../../content/images/css.png" ng-click="vm.LoadCours('CSS')">
                                        </a>
                                    </li>
                                    <li class="eval-li">
                                        <a id="js" data-toggle="modal" data-target="#ChooseQuizz" ng-click="vm.LoadBtn($event)">
                                            <img class="img-langage img-drop" alt="/" src="../../content/images/js.png" ng-click="vm.LoadCours('JSC1')">
                                        </a>
                                    </li>
                                    <li class="eval-li">
                                        <a id="c" data-toggle="modal" data-target="#ChooseQuizz" ng-click="vm.LoadBtn($event)">
                                            <img class="img-langage img-drop" alt="/" src="../../content/images/c.png" ng-click="vm.LoadCours('CPP')">
                                        </a>
                                    </li>
                                    <li class="eval-li">
                                        <a id="vbnet" data-toggle="modal" data-target="#ChooseQuizz" ng-click="vm.LoadBtn($event)">
                                            <img class="img-langage img-drop" alt="/" src="../../content/images/vbnet.png" ng-click="vm.LoadCours('VBnet')">
                                        </a>
                                    </li>
                                    <li class="eval-li">
                                        <a id="c-sharp" data-toggle="modal" data-target="#ChooseQuizz" ng-click="vm.LoadBtn($event)">
                                            <img class="img-langage img-drop" alt="/" src="../../content/images/c-sharp.png" ng-click="vm.LoadCours('C#')">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>