.true {
  background-color: blue;
}

/* SPLASH PAGE */

.logo-img {
  max-width: 300px;
  max-height: 300px;
  position: relative;
  z-index: 3;
}

.formation-tab>img:hover {
  transition: transform .2s;
  width: 200px;
  height: 200px;
}

.page-splash {
  position: relative;
  opacity: 1;
  background-image: url(images/code3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2
}

.img-langage {
  max-width: 70px;
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.img-langage:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.img-js {
  display: block;
  width: 100px;
}

.img-java {
  max-width: 60px;
  display: block;
  margin-left: 18px;
}

.page-splash:before {
  content: '';
  position: absolute;
  background-color: #1171a3;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 3;
}

/*LOGO HEADER*/

.logo-header {
  max-width: 50px;
}

/*NAVBAR*/

.navbar-brand {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-left: 0;
}

.navbar-collapse {
  background-color: white;
}

/*SIDEBAR*/

.sidebar .navi > li.current.nlightblue > a {
  background-color: #1171a3;
  color: white;
  border-color: white;
}

.sidebar .navi > li > a {
  color: white;
  background-color: #1171a3 !important;
  border-color: white;
}

.sidebar .navi>li>a:hover {
  background-color: #f39322;
}

.sidebar .navi>li.current.nlightblue>a {
  background-color: white !important;
}

.sidebar .navi>li.current.nlightblue>a:hover {
  background-color: #f39322 !important;
}

.navbar {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px grey;
}

.sidebar-widget {
  background-color: #1171a3;
}

.sidebar-filler {
  background-color: #1171a3 !important;
  z-index: 1;
}

.navi {}

.sidebar .navi>li {
  color: white;
  background-color: #1171a3 !important;
}

.mainbar {
  background-image: url(images/apprendre.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mainbar:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f39322;
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.widget.wblue {
  background: transparent;
}

.widget.wblue .widget-content {
  border: none;
  position: relative;
}

/*FORMATION*/

.widget.wblue .widget-head {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
}

.page-title {
  color: white;
  text-align: center;
  position: relative;
  font-family: Montserrat;
  font-weight: 900;
  text-transform: uppercase;
}

.quizz-zone {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.formation-tab {
  max-width: 800px;
  margin: 80px auto 0;
  padding: 30px 0 50px;
  border-radius: 7px;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.formation-tab h1 {
  color: black;
}

.formation-tab h2{
  text-align: center;
  color: black;
}

.formation-tab:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  /*  background-color: orange;*/
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.formation-tab h1 {
  text-align: center;
  color: white;
  position: relative;
}

.formation-tab ul {
  /*  margin-top: 30px;*/
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.formation-tab ul li a {
  color: white;
}


/*QUIZZ*/

.quizz-header {
  display: flex;
  align-items: center;
  background-color: #3276b1 !important;
}

h5.modal-title {
  text-align: center;
  height: 100%;
  display: inline-block;
  color: white !important;
  text-transform: uppercase;
  font-weight: 900;
}

.quizz-header #close {
  margin: 0;
  margin-left: auto;
}

.quizz-content .container-fluid {
  background-color: transparent;
}

span#qid.label.label-warning.ng-binding {
  width: 100%;
  display: block;
  padding: 20px;
  margin-bottom: 10px;
}

label.element-animation1.btn.btn-lg.btn-primary.btn-block,
label.element-animation2.btn.btn-lg.btn-primary.btn-block,
label.element-animation3.btn.btn-lg.btn-primary.btn-block {
  font-size: 15px !important;
  font-weight: 900;
  color: white;
}

h3#qidh3.ng-binding {
  color: black;
  font-size: 20px;
  text-align: center;
  line-height: 1.2em;
}

.modal-footer {
  margin: 0;
  border: 0;
}

.modal-footer span#answer {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.modal-footer button {
  width: auto;
  margin: 0 auto;
}


 

/* Voir applifrais */

body {
  background-color: rgb(13, 53, 64);
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(13, 53, 64));
}

/* Pages (Evaluation, Formation  */

.page-title {
  font-size: 24px;
}

/*EVALUATION*/

.modal-dialog {
  width: 50%;
}

/* bootstrap re custom */

.alert-warning {
  border-color: #f39322;
  color: #554832;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*PAGE DACCUEIL */

.hp-content {
  position: absolute;
  display: block;
  margin-left: 230px;
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.teaser-evaluation,
.teaser-formation {
  display: flex;
  flex-flow: row;
  width: 100%;
  padding: 30px;
}

.teaser-formation {
  background-color: #f39322;
}

.texte-teaser {
  color: white;
  padding-top: 80px;
  margin: 0 auto;
  display: block;
  margin-left: 120px;
  width: 40%;
}

.texte-teaser h1 {
  color: white;
  margin-bottom: 20px;
}

.texte-teaser p {
  margin-bottom: 50px !important;
}

.img-teaser {
  width: 50%;
  display: block;
}

.img-teaser img {
  max-width: 650px;
  margin: 0 auto;
  display: block;
}

.btn-custom {
  border-radius: 11px !important;
  width: 300px;
  text-transform: UPPERCASE;
  font-weight: bold;
}

.teaser-evaluation {
  background-color: white;
}

.teaser-evaluation .texte-teaser {
  order: 2;
  margin-right: 120px;
  text-align: right;
  margin-left: 0;
}

.teaser-evaluation .img-teaser {
  order: 1;
}

.teaser-evaluation h1 {
  color: #f39322;
  text-align: right;
}

.teaser-evaluation p {
  color: black;
}

.teaser-evaluation img {
  width: 500px;
  height: auto;
}

.m-tab ul li {
  width: 33.3%;
  text-align: center;
  padding: 30px;
}

.m-css{
  max-width: 1100px;
}

.eval-li{
   margin: 20px 20px 20px 20px;
}
 
/*
.hp-content:before {
content: '';
display: block;
width: 100%;
height: 100%;
background-color: #f39322;
opacity: 0.6;
position: absolute;
top: 0;
z-index: 66;
overflow: hidden;
}
*/