<span>
    <div class="container" id="Coursdiv">
        <div class="row">
            <h1>{{vm.cours.titre}}</h1>
            <img class="img-langage" alt="/" src="../../content/images/{{vm.cours.img}}">
            <div>
                <h2>Intro</h2>
                <p>{{vm.cours.intro}}</p>
            </div>
            <div>
                <h2>Environnement requis</h2>
                <p>{{vm.cours.IDE}}</p>
            </div>
            <div>
                <h2>Déclarer une variable</h2>
                <p>{{vm.cours.var}}</p>
            </div>
            <div>
                <h2>Structures Logiques</h2>
                <p>{{vm.cours.loop}}</p>
            </div>
            <div>
                <h2>Les fonctions</h2>
                <p>{{vm.cours.function}}</p>
            </div>
            <div>
                <h2>Framework et outils</h2>
                <p>{{vm.cours.framework}}</p>
            </div>
        </div>
    </div>
    <button>PASSER A L'EVALUATION?</button>
</span>