<div class="container-fluid bg-info"  id="ModalQuizz">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="qidh3">
                    <span class="label label-warning" id="qid">Question {{vm.questionNbr + 1}}</span>{{ vm.questions[vm.questionNbr]}}
                </h3>
            </div>
            <div id="quizzscreen" class="modal-body">

                <div class="col-xs-3 col-xs-offset-5">
                    <div id="loadbar" style="display: none;">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>
                </div>

                <div id="windiv" class="winscreen">
                    <br>
                    <h1>Votre score est de {{vm.onceScore}} / {{vm.questions.length}} </h1>
                    <br>
                </div>

                <div class="quiz" id="quiz" data-toggle="buttons">
                    <label class="element-animation{{$index +1}} btn btn-lg btn-primary btn-block" ng-repeat="answer in vm.answers">
                        <span class="answerSpan btn-label" ng-click="vm.StartQuizz($index+1)">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </span>
                        <input type="radio" value="{{$index+1}}"> {{answer[vm.questionNbr]}}
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <span id="answer" style="display: none;">
                </span>
            </div>
        </div>
    </div>
</div>