<div class="quizz-zone">


    <div id="BtnModalBody" class="modal-body">
      
    </div>


</div>
<!-- Pre Quizz Modal -->
<div class="modal quizz-modal" tabindex="-1" role="dialog" id="QuizzModal">
    <div class="modal-dialog quizz-dialog" role="document">
        <div class="modal-content quizz-content">
            <div class="modal-header quizz-header">
                <h5 class="modal-title">Quizz {{vm.subject}} numéro {{vm.quizzNumber()}}</h5>
                <button type="button btn-custom" id="close" data-dismiss="modal" aria-label="Close">
                    <span class="btn-custom" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="FinishRefresh">
 
                <div ng-include="'src/client/app/modalquizz.html'"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

</div>